:root {
    --foreground: "#e6176a";
    --background: "#202029";
  }

#canvas {

    width: 100vw;
    height: 100vh;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

.ui {
    text-align: center;
    font-family: 'Raleway';
    stroke: none;
    
    outline: none;

    border-radius: 15px;

    border-style: solid;
    

    border-color: var(--foreground);

    color: var(--foreground);

    border-width: 6px;

    
}

#bg,#fg {
    position: absolute;
    border: none;
    border-color: transparent;
    outline: none;
    stroke:none;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    outline-color: transparent;

}
#fg {
    left: 50px;
}
