:root {
    --foreground: "#e6176a";
    --background: "#202029";
    --outground: "#0c021f";
    --special: "#2bc7ff";
  }

#canvas {

    width: 100vw;
    height: 100vh;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

.ui {
    text-align: center;
    font-family: 'Raleway';
    stroke: none;
    
    outline: none;

    border-radius: 15px;

    border-style: solid;
    

    border-color: var(--foreground);

    color: var(--foreground);

    border-width: 6px;

    
}

#bg,#fg,#sg,#og {
    display: none;

}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    
    
}

.colorSelect {
    width: 50px;
    height: 50px;
    border: solid;
    border-color: var(--foreground);
    border-width: 0px 1px 0px 0px;
    box-shadow: 0px 5px 0px var(--foreground);
    
    
}